/*  ----------------------------------------------------------------------------------------------------------------- */
/*  General css */
/*  ----------------------------------------------------------------------------------------------------------------- */

body {
    background-color: black;
    margin: 0%;
    scroll-behavior: smooth;
    height: 100%;
}

h3 {
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-size: 2.2vw;
    color: yellow;
    border-bottom: 1px;
    border-color: yellow;
}

p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4vw;
    text-align: justify;
    padding-right: 5%;
}

h1 {
    color: yellow;
    padding-top: 5%;
    font-size: 5.5vw;
}

th {
    font-size: 1.4vw;
    color: white;
    text-align: left;
}

table {
    width: 100%;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4vw;
    text-align: justify;

}

input {
    width: 30%;
    height: 1vw;
}

h4 {
    font-size: 1.4vw;
    text-align: left;
}


/*  ----------------------------------------------------------------------------------------------------------------- */
/*  Id css */
/*  ----------------------------------------------------------------------------------------------------------------- */

    /*  Top bar */
    #top_box {
        background-color: white;
        height: 7vw;
        margin-bottom: -1.2%;
        position: fixed;
        width: 100%;
        margin-top: -0.9%;
        z-index: 2;
    }
    
    #logo {
        width: 9%;
        height: 7vw;
        border-radius: 25%;
        margin-left: 9%;
        margin-top: 1%;
        
        
    }
    
    #title {
        width: 9%;
        float: right;
        height: 7vw;
    }

    /*  Navigation bar */

    #navigation_bar {
        position: fixed;
        width: 450px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 3px;
        border-style: solid;
        border-color: yellow;
        margin-left: 71%;
        margin-top: 15%;
        float: left;
        padding-left: 2%;
    }

    /* Main column */

    #main_column{
        border-right: 1vw solid white;
        width: 69%;
        float: right;
        margin-right: 30%;
    }

    #big_image {
        height: 40vw;
        width: 30%;
        padding-left: 5%;
        padding-top: 12%;
        float: left;
        margin-right: 5%;
    }

    #table {
        margin-top: 5%;
        width: 55%;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    #form {
        width: 55%;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    #send-mail {
        width: 5%;
    }

    #submit {
        margin-top: 2%;
    width: 20%;
    height: 2.2vw;
    }

    /* Footer */

    #footer {
        background-color: white;
        height: 14vw;
        width: 100%;
        bottom: 0;
        z-index: 2;
        clear: both;
    }
    
    #footer_image {
        margin-top: 1%;
        width: 29%;
        height: 12vw;
        margin-left: 5%;
    }
    
    #footer_inside_box {
        border-left: 3px solid rgba(29 29 29 / 26%);
        width: 29%;
        float: right;
        margin-top: 1%;
        height: 8vw;
        margin-right: 34%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
    }
    
    #black_space {
        float: right;
        height: 14.69vw;
        width: 30%;
        background-color: black;
        margin-top: -14%;
    }
          

/*  ----------------------------------------------------------------------------------------------------------------- */
/*  Class css */
/*  ----------------------------------------------------------------------------------------------------------------- */


    /* Navigation bar */
    .menu {
        color: yellow;
        font-size: 1.8vw;
    }

    /* Main column */

    .table_title {
        font-size: 1.7vw;
        color: yellow;
        margin-right: 10%;

    }



/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/
/* Mobile css */ 
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/

@media screen and (max-width: 1000px)  {
/*  ----------------------------------------------------------------------------------------------------------------- */
/*  General css */
/*  ----------------------------------------------------------------------------------------------------------------- */
h4 {
    font-size: 3.7vw;
}
h3 {
    background-color: black;
    text-align:center;
    font-size: 3.5vw;
}

p {
    font-size: 3.4vw;
}

h1 {
    color: yellow;
    padding-top: 5%;
    font-size: 11.0vw;
}

th {
    font-size: 3.4vw;
}

label {
    font-size: 3.7vw;
}

input {
    width: 30%;
    height: 3vw;
}
/*  ----------------------------------------------------------------------------------------------------------------- */
/*  Id css */
/*  ----------------------------------------------------------------------------------------------------------------- */

/* Top box */

#top_box {
    height: 10vw;
}
#logo {
    height: 10vw;
    width: 14%;
}

#title {
    height: 10vw;
    width: 17%;
}

#navigation_bar {
    width: 100%;
    border: 0;
    padding-left: 2%;
    position: static;
    margin-top: 15%;
    margin-left: 0%;
}

/* Main column */
#main_column{
    border-right: 0;
    width: 90%;
    margin-right: 5%;

}

#big_image {
    height: 82vw;
    width: 100%;
    padding-left: 0%;
    padding-top: 10%;
    float: left;
    margin-right: 0%;
    margin-bottom: 5%;
}

#table {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%; 
    margin-bottom: 5%;
}

#form {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 5%;
}

#submit {

    height: 4.2vw;
}

/* Footer */
#footer {
    height: 62vw;

}
#footer_image {
    margin-top: 5%;
    width: 90%;
    height: 36vw;
}
#footer_inside_box {
    border-left: 0;
    width: 80%;
    margin-top: 3%;
    height: 8vw;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
}
#black_space {
    width: 0%;
}

/*  ----------------------------------------------------------------------------------------------------------------- */
/*  Class css */
/*  ----------------------------------------------------------------------------------------------------------------- */


    /* Navigation bar */

    .menu {
        color: yellow;
        font-size: 3vw;
        background-color: black;
        text-align: center;
        padding-left: 38%;
    }

    .table_title {
        font-size: 3.7vw;

    }
}